{{#if user}}
<div class="greeting">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 你好！<br />{{user.username}}
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
    href="/list/" class="button"><img src="/assets/buttons/myKnot_btn.svg" alt="myKnot_btn"></a>
<br>
<a href="/list/create" class="button"><img src="/assets/buttons/newKnot_btn.svg" alt="newKnot_btn"></a>

{{/if}}