<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Knot结</title>
		<link rel='stylesheet' href='/stylesheets/style.css'>
		
	</head>
	<body>
		<div id="wrapper">
			<div id="bd">
				{{{body}}}
			</div>
			<div id="ft">
				<a href="/loginPage" class="button">首<br>页</a>
				<br>
				<br>
				<a href="/logout">登<br>出</a>
			</div>
		</div>
	</body>
</html>
