<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Knot结</title>
		<link rel='stylesheet' href='/stylesheets/style.css'>
		
	</head>
	<body>
		<div id="wrapper">
			<div id="header_container">
				<img src="/assets/Logo_CN.svg" class="logoPage" alt="KnotLogo" />
	
			</div>
			<div id="bd">
				{{{body}}}
			</div>
			<div id="ft">
				{{#if user}}
					<a href="/logout">登<br>出</a>
				{{/if}}
			</div>
		</div>
	</body>
</html>
