{{#if user}}

{{else}}
    <div class="login_btn_container">
        <a href="/login" class="button"><img src="/assets/buttons/login_btn.svg" alt="login_btn"></a>
        <br>
        <a href="/register" class="button"><img src="/assets/buttons/register_btn.svg" alt="register_btn"></a>
    </div>
{{/if}}