<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Record Audio</title>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"
		integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>

<body>
	<h1>为  录音</h1>
	<button id="record">开始录音</button>
	<button id="stop">结束录音</button>
	<audio id="recording"></audio>
	<script src="https://cdn.jsdelivr.net/npm/recordrtc/RecordRTC.js"></script>
	<script>
		var recordButton = document.getElementById('record');
		var stopButton = document.getElementById('stop');
		var recording = document.getElementById('recording');
		var recorder;



		//Configuration for stereoAudioRecorder 
		navigator.mediaDevices.getUserMedia({ audio: true })
			.then(function (stream) {
				recorder = RecordRTC(stream, {
					type: 'audio',
					mimeType: 'audio/webm',
					
					sampleRate: 96000,
					desiredSampRate: 16000,
					bufferSize: 16384,
					numberOfAudioChannels: 2
				});
			});

		// Start Recording
		recordButton.addEventListener('click', function () {
			recorder.startRecording();
		});

		// Stop Recording
		stopButton.addEventListener('click', function () {
			recorder.stopRecording(function () {

				//get recording data
				var blob = recorder.getBlob();
				form = new FormData();
				form.append("file", blob, 'akkkkkk.webm');


				$.ajax({
					url: "/saveRecord",
					type: "POST",
					data: form,
					enctype: 'multipart/form-data',
					processData: false,
					contentType: false,
					success: function (data) {
						console.log("success");
				
					},
					error: function (e) {
						console.log('error');
						
					}
				});
				return
				//generate url for the recording data
				var url = URL.createObjectURL(blob);
				recording.src = url;
				console.log(url);
				//send the file data to server
				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4 && xhr.status === 200) {
						console.log('Recording saved successfully.');
					}
				};
				
				//specify the type of request as POST, the server location as url, the async as true
				xhr.open('POST', '/saveRecord', true); 

				xhr.setRequestHeader('Content-Type', 'application/octet-stream');

				// send the request to the server for POST
				xhr.send(blob);
			});
		});
	</script>
</body>

</html>