<div class="login-form">
	<form method="POST" action="">
		<div class='form-row'><label>姓名:</label> <input name="username" type="text"></div>
		<div class='form-row'><label>密码:</label> <input name="password" type="password"></div>
		<div class='form-row'><input type="submit" value="Register"></div>
		<div class='form-row'>已经有账户了? 
			 <a href="/login" class="button"><img src="/assets/buttons/login_btn.svg" alt="login_btn"></a></div>
		</div>
	</form>
</div>
