body {
  background-color: #EBE5D9;
	padding: 50px;
  font: 18px "HYJiangNanKaiSong", "Dream Han Sans CN", Helvetica, Arial, sans-serif;
}

.title {
	font: "nzgrKangxi", "Dream Han Sans CN", Helvetica, Arial, sans-serif;
	color:#363634;
	font-size: 15vw;
}
.button {
	left: 50%;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

a {
  color: #C3473D;
}


.form-row {
	padding:0.5em;
}

form {
	margin:1em;
	/* margin-bottom:1em; */
}

#wrapper {
	width:500px;
	padding:2em;
  	background-color:#EBE5D9;
}

#grocery-list {
	background-color:#EBE5D9;
	padding: 1em;
	margin: 1em;
}

#grocery-list li {
	list-style-type: none;
	padding-top:0.25em;
	padding-bottom:0.25em;
}

#grocery-list li.checked {
	text-decoration: line-through;
	padding: 0.25em 0.25em 0.25em 1.5em;
}

.qty {
	width: 3em;
}

/* login page */
.login_btn_container{
	margin-left: 50px;
}

.logo {
	align-items: center;
	/* position: relative; */
	/* display:flex; */
	margin-left: 56px;
	min-width: 30%;
	max-width: 50%;
}

.container{
	height: 237px;
	margin-right: -7px;
	position: relative;
	width: 365px;
}

.greeting{
	font-size: 3vw;
	position: relative;
	text-align: left;
	margin-bottom: 10px;
	color: #363634;
}


input[type='checkbox'] {
	margin: 1em;
}

input[type=submit] {
	padding:5px 15px; 
	background:#EBE5D9; 
	border:0 none;
	cursor:pointer;
	font-size:1em;
}

input {
	font-size:1em;
}

input[type=submit]:hover {
	background-color: #363634;
	color: #EBE5D9;
}
