<h2>为新的朋友编织绳结</h2>
<form action="" method="POST">
<div class='form-row'><label>请输入朋友的名字（需用英语/拼音）:</label> <input type="text" name="name"></div>
<div class='form-row'><input type="submit" value="Create List"></div>
</form>
