<form method="POST" action="">
	<div class='form-row'><label>用户名:</label> <input name="username" type="text"></div>
	<div class='form-row'><label>密码:</label> <input name="password" type="password"></div>
	<div class='form-row'><input type="submit" value="登陆"></div>
	<div class='form-row'>还没有账户? <a href="/register">注册</a>.</div>
</form>
