<form method="POST" action="">
	<div class='form-row'><label>用户名:</label> <input name="username" type="text"></div>
	<div class='form-row'><label>密码:</label> <input name="password" type="password"></div>
	<div class='form-row'><input type="submit" value="Register"></div>
	<div class='form-row'>已经有账户了? <a href="/login">登陆</a>.</div>
</form>
